#div{margin:30px auto; padding: 15px; background-color: #038273;}

@media screen and (min-width: 0) {
	#div{width: 500px}
}
@media screen and (min-width: 1000) {
	#div{width: 900px}
}
@media screen and (min-width: 1400) {
	#div{width: 1300px}
}

#page1 {

background-color: #038273;
margin: 1px;

}

h1 {

text-align: center;
color: black;

}

#header {

background-color: #94d1b6;
margin: 10px;
height: 130px;
border-radius: 5px;
padding: 15px;
text-align: center;

}

#navbar {

padding: 5x;
list-style-type: none;
text-align: center;
margin: 10px;
border-radius: 5px;
font-size: 22px;
color: black;

}

.main {

background-color: #038273;
margin: 20px;
border-radius: 5px;
padding: 20 px;

}

#footer {

background-color: #038273;
margin: 5px;
border-radius: 5px;
padding: 5px;

}

h2 {

color: white;
margin: 0px;
border-radius: 5px;
padding: 5px;

}

p {

color: black;
font-size: 18px;
font-family: Helvetica;

}

#page2 {


background-color: #012d75;
margin: 1px;

}


#header2 {

background-color: #0db8e2;
margin: 10px;
height: 100px;
border-radius: 5px;
padding: 15px;
text-align: center;

}

.main2 {

background-color: #012d75;
margin: 30px;
border-radius: 5px;
padding: 20px;
color: #0db8e2;
font-family: century;
text-indent: 30px;

}

#footer2 {

background-color: #0db8e2;
margin: 10px;
height: 150px;
border-radius: 5px;
padding: 15px;
color: #012d75;

}

